{% extends "layouts/app.html.twig" %}

{% block content %}
  <!-- start features -->
  <section class="section bg-light">
    <div class="container">
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end features -->
{% endblock %}