{% extends 'layouts/auth.html.twig' %}

{% block content %}
  {% if registrationOk %}
    <a href="{{ url('app_login') }}">Click here to log in.</a>
  {% else %}
    {{ form(form) }}
  {% endif %}
{% endblock %}

{% block header %}
  <h1>S'inscrire</h1>
{% endblock %}
